.score-input {
    display: flex;
    align-items: center;
    gap: 5px;
}
.score-input input {
    width: 50px;
    text-align: center;
}
.stars {
    display: flex;
    gap: 2px;
}
.stars .star {
    font-size: 1.5em;
    color: white;
    cursor: pointer;
    text-shadow: 0 0 3px black, 0 0 3px black;
    
}
.stars .star.active {
    color: gold;
    text-shadow: 0 0 3px black, 0 0 3px black;
}
.submit-container {
    margin-top: 20px;
    text-align: center;
}

button[type="submit"] {
    background-color: var(--green);
    border: none;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: var(--hard-green);
}
button {
    width: calc(25%);
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    margin-top: 15px;
}