/* Définition des variables globales */
:root {
    --background-color: #F5F5F5;
    --primary-color: #D2B48E;
    --secondary-color: #EFE3CE;
    --dark-primary-color: #BFAE9D;
    --green: #CBE8BA;
    --red: #FFB4B0;
    --hard-green:#29903B;
    --blue:#007bff;
    --dark-blue:#0056b3;
}

/* fond de couleur du body pour toutes les pages */
body {
    background-color: var(--background-color);
}
/* mise en forme classique de tableaux */
table {
    border-collapse: collapse;
    width: 100%;
}
/* th */
th {
    background-color: var(--primary-color);
    color: white;
}
/* td */
td, th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}
/* tr */
tr:nth-child(even) {
    background-color: var(--secondary-color);
}
/* tr:hover */
tr:hover {
    background-color: var(--dark-primary-color);
}
/* td:hover */
td:hover {
    background-color: var(--dark-primary-color);
}