/* Définition des variables globales */
:root {
    --primary-color: #D2B48E;
    --secondary-color: #EFE3CE;
    --green: #CBE8BA;
    --red: #FFB4B0;
    --hard-green:#29903B;
    --blue:#007bff;
    --dark-blue:#0056b3;
}
