/* Définition des variables globales */
:root {
    --background-color: #F5F5F5;
    --primary-color: #D2B48E;
    --secondary-color: #EFE3CE;
    --dark-primary-color: #BFAE9D;
    --green: #89c169;
    --red: #e57772;
    --hard-red:#D8000C;
    --hard-green:#29903B;
    --blue:#007bff;
    --dark-blue:#0056b3;
}

body {
    background-color: var(--background-color);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: var(--primary-color);
    color: white;
}

td, th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: var(--secondary-color);
}

tr:hover {
    background-color: var(--dark-primary-color);
}

td:hover {
    background-color: var(--dark-primary-color);
}