body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('../../ressources/background-connexion.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 30px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-container > div {
    margin-bottom: 20px;

}

.login-container > div > img {
    width: 300px;
    height: auto;
}

.login-container > form > div {
    align-items: center;
    justify-content: center;
}

.login-container > form > div > img {
    width: 7%;
}
.login-container > form > div > input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container > form > button {
    width: 100%;
    padding: 10px;
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container > form > button:hover {
    background-color: var(--dark-blue);
}
